.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.navBar:global(.__wab_instance) {
  position: relative;
}
.section2 {
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 0;
  display: none;
}
.section2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.section2 > :global(.__wab_flex-container) > *,
.section2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section2 > :global(.__wab_flex-container) > picture > img,
.section2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    width: var(--token-cDurj2P_eL7-uG);
    align-self: auto;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.subHeading {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subHeading {
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    min-width: 0;
  }
}
.logoContainer {
  flex-direction: row;
  width: 1350px;
  max-width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.logoContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-left: calc(0px - 90px);
  width: calc(100% + 90px);
  margin-top: calc(0px - 34px);
  height: calc(100% + 34px);
}
.logoContainer > :global(.__wab_flex-container) > *,
.logoContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoContainer > :global(.__wab_flex-container) > picture > img,
.logoContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 90px;
  margin-top: 34px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer {
    left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer > :global(.__wab_flex-container) {
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer > :global(.__wab_flex-container) > *,
  .logoContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .logoContainer > :global(.__wab_flex-container) > picture > img,
  .logoContainer
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.img__fdkgq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: auto;
  display: block !important;
  flex-shrink: 0;
}
.img__fdkgq > picture > img {
  object-fit: cover;
}
.img__fdkgq > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fdkgq {
    width: 100px;
    height: auto;
  }
}
.img___1ZXz0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: 85px;
  display: block !important;
  flex-shrink: 0;
}
.img___1ZXz0 > picture > img {
  object-fit: cover;
}
.img___1ZXz0 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___1ZXz0 {
    width: 100px;
    height: auto;
  }
}
.img__pSAub {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 157px;
  height: 66px;
  display: block !important;
  flex-shrink: 0;
}
.img__pSAub > picture > img {
  object-fit: cover;
}
.img__pSAub > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pSAub {
    width: 120px;
    height: auto;
  }
}
.img__kXku {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 164.999px;
  height: 80.999px;
  display: block !important;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__kXku > picture > img {
  object-fit: cover;
}
.img__kXku > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kXku {
    width: 100px;
    height: auto;
    left: auto;
    top: auto;
  }
}
.section3 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section3 {
    margin-top: auto !important;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 30px;
    flex-column-gap: 0px;
  }
}
.twoSideBox {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .twoSideBox {
    margin-top: 0px;
    width: 100%;
  }
}
.freeBox___8Uztz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Uztz {
    align-self: auto;
    margin-top: 0px;
    display: flex;
  }
}
.freeBox__mFbkw {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mFbkw {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-column-gap: 0px;
  }
}
.columns__o5QcQ {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__o5QcQ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__o5QcQ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o5QcQ {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-self: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o5QcQ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sGh1V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__uYnit {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.subHeading2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  left: auto;
  top: auto;
  min-width: 0;
}
.text__sUsDg {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Ultra', serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  text-align: left;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sUsDg {
    font-size: 30px;
  }
}
.peraContent {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-4bTymgq3_C0Gm2);
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .peraContent {
    font-size: 18px;
  }
}
.unorderList {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.listIteam {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam {
    font-size: 16px;
  }
}
.listIteam3 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam3 {
    font-size: 16px;
  }
}
.listIteam4 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam4 {
    font-size: 16px;
  }
}
.listIteam5 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam5 {
    font-size: 16px;
  }
}
.listIteam6 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam6 {
    font-size: 16px;
  }
}
.listIteam7 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam7 {
    font-size: 16px;
  }
}
.button__wskYt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__wskYt:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___33Uw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kFZwO {
  font-family: 'Montserrat', sans-serif;
}
.svg__y7Xxi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__rcrYr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rcrYr {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-column-gap: 0px;
  }
}
.bannerImage2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  max-height: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bannerImage2 {
    align-self: center;
  }
}
.imageMarketing2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.imageMarketing2 > picture > img {
  object-fit: cover;
}
.imageMarketing2 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageMarketing2 {
    width: 400px;
    height: auto;
    flex-shrink: 0;
  }
}
.section4 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#fc5147e0, #fc5147e0),
    url("./images/image3.png") 0% 0% / cover;
  min-width: 0;
  display: none;
  padding: 139px 8px;
}
.freeBox___507E {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___507E {
    width: 100%;
    min-width: 0;
  }
}
.columns__z5HAt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__z5HAt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns__z5HAt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z5HAt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z5HAt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mvand {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__boEAx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 256px;
  height: 256px;
  box-shadow: 0px 0px 0px 16px #ffffffdb;
  flex-shrink: 0;
  border-radius: 999px;
}
.img__boEAx > picture > img {
  object-fit: cover;
}
.img__boEAx > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___7Zjd6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__sB9Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.testimonialText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialText {
    max-width: 100%;
    font-size: 30px;
  }
}
.position {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  padding-top: 24px;
  min-width: 0;
}
.section5 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 50px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    padding-bottom: 9px;
  }
}
.twoSidedContent {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.subHeading3 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 100%;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subHeading3 {
    text-align: center;
  }
}
.line2 {
  background: rgba(0, 0, 0, 1);
  width: 104px;
  height: 2px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 30px;
  flex-shrink: 0;
}
.columns__qZOdK {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  left: auto;
  top: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 38px 8px 50px;
}
.columns__qZOdK > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__qZOdK > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__qZOdK > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__qZOdK > :global(.__wab_flex-container) > *,
.columns__qZOdK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qZOdK > :global(.__wab_flex-container) > picture > img,
.columns__qZOdK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qZOdK {
    width: 100%;
    height: auto;
    flex-direction: row;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qZOdK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qZOdK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
.column__exjnY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__kDrPt {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  padding-left: 0px;
  min-width: 0;
}
.ol {
  display: flex;
  flex-direction: column;
}
.p__sjFku {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__wyH9V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2___5ZpaI {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__i5C1D {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__iDHo8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__oW5I {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__xmMe {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__tMz8P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__hpMi4 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p___9DNrw {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__hQeQ6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__fumrx {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__p2TGb {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column___5Tfb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__z4CRb {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__xsXJh {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.section6 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
  padding: 8px;
}
.twoSideBox2 {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.columns__qiPq5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__qiPq5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__qiPq5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qiPq5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qiPq5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rGsG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__iRjku {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.subHeading4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  left: auto;
  top: auto;
  min-width: 0;
}
.text__pyZ2 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  text-align: left;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pyZ2 {
    font-size: 30px;
  }
}
.peraContent2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-4bTymgq3_C0Gm2);
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .peraContent2 {
    font-size: 18px;
  }
}
.unorderList2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  min-width: 0;
}
.listIteam2 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam2 {
    font-size: 16px;
  }
}
.listIteam9 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam9 {
    font-size: 16px;
  }
}
.listIteam10 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam10 {
    font-size: 16px;
  }
}
.listIteam11 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam11 {
    font-size: 16px;
  }
}
.listIteam12 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam12 {
    font-size: 16px;
  }
}
.listIteam13 {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam13 {
    font-size: 16px;
  }
}
.button__iYnh2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__iYnh2:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__wkNl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___7BHbd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__rQDkg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.bannerImage3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  max-height: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bannerImage3 {
    align-self: center;
  }
}
.imageMarketing3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.imageMarketing3 > picture > img {
  object-fit: cover;
}
.imageMarketing3 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageMarketing3 {
    width: 400px;
    height: auto;
    flex-shrink: 0;
  }
}
.section7 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#2f4461cc, #2f4461cc),
    url("./images/image6.png") left 0% top 50% / cover;
  min-width: 0;
  display: none;
  padding: 168px 8px;
}
.freeBox__vNhUq {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.subHeading5 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 100%;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subHeading5 {
    font-size: 30px;
    text-align: center;
  }
}
.line3 {
  background: #ffffff;
  width: 104px;
  height: 2px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 30px;
  flex-shrink: 0;
}
.columns__p8Trs {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1300px;
  min-width: 0;
  padding: 30px 8px;
}
.columns__p8Trs > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__p8Trs > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__p8Trs > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__p8Trs > :global(.__wab_flex-container) > *,
.columns__p8Trs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__p8Trs > :global(.__wab_flex-container) > picture > img,
.columns__p8Trs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p8Trs {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p8Trs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p8Trs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
.column__robF3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__robF3 {
    padding-top: 0px;
    justify-content: flex-start;
  }
}
.blockChapterContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .blockChapterContent {
    padding-top: 40px;
  }
}
.text__ev6To {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ev6To {
    font-size: 18px;
  }
}
.li___80K5Q {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___80K5Q {
    font-size: 16px;
  }
}
.li__v07Uv {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__v07Uv {
    font-size: 16px;
  }
}
.li__bEJg0 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__bEJg0 {
    font-size: 16px;
  }
}
.li__jA6A {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__jA6A {
    font-size: 16px;
  }
}
.column__zHnsx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zHnsx {
    padding-top: 27px;
    justify-content: flex-start;
  }
}
.blockChapterContent4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
.text__xKtwN {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xKtwN {
    font-size: 18px;
    padding: 0px 2px 2px;
  }
}
.li___8POhM {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___8POhM {
    font-size: 16px;
  }
}
.li__xHuQ {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__xHuQ {
    font-size: 16px;
  }
}
.li__lk61L {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__lk61L {
    font-size: 16px;
  }
}
.li__wzdZ {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__wzdZ {
    font-size: 16px;
  }
}
.column__ci6Ri {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ci6Ri {
    justify-content: flex-start;
  }
}
.text__fa9Xq {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fa9Xq {
    font-size: 18px;
  }
}
.li__bhnsX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.li__pxWax {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__pxWax {
    font-size: 16px;
  }
}
.text__kWu92 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kWu92 {
    font-size: 16px;
  }
}
.blockChapterContent2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.li__njefq {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__njefq {
    font-size: 16px;
  }
}
.li__ib0Sr {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__ib0Sr {
    font-size: 16px;
  }
}
.column__zLfAe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zLfAe {
    justify-content: flex-start;
  }
}
.blockChapterContent3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
.text__kt7Re {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kt7Re {
    font-size: 20px;
  }
}
.li__fWNrs {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__fWNrs {
    font-size: 16px;
  }
}
.li___1F5B4 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___1F5B4 {
    font-size: 16px;
  }
}
.li___23S4R {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___23S4R {
    font-size: 16px;
  }
}
.li__nXzc7 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__nXzc7 {
    font-size: 16px;
  }
}
.section8 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__zM7Ka {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1300px;
  min-width: 0;
  padding: 50px 8px;
}
.columns__zM7Ka > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns__zM7Ka > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zM7Ka {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zM7Ka > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__y4Cr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.avtarContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 30px 8px 8px;
}
.h2__xRDdQ {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__xRDdQ {
    padding-top: 30px;
    font-size: 30px;
  }
}
.p__mbaJt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__mbaJt {
    font-size: 18px;
  }
}
.p__bdtnO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__bdtnO {
    font-size: 16px;
  }
}
.p__p0X4Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: var(--token-4bTymgq3_C0Gm2);
  font-weight: 700;
  margin-top: 11px;
  min-width: 0;
  padding: 11px 0px 28px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__p0X4Y {
    font-size: 16px;
  }
}
.p__rS2WL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: var(--token-4bTymgq3_C0Gm2);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__rS2WL {
    font-size: 16px;
  }
}
.column__dost8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.avatarImage {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.img__s1YMg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 8px;
}
.img__s1YMg > picture > img {
  object-fit: cover;
}
.img__s1YMg > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__s1YMg {
    height: 100%;
    width: 400px;
    min-height: 0;
  }
}
.section9 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#fc5147e0, #fc5147e0),
    url("./images/image10.png") 0% 0% / cover;
  min-width: 0;
  display: none;
  padding: 169px 8px;
}
.freeBox__jNxE2 {
  width: 100%;
  max-width: 1300px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.h2__yuWdN {
  position: relative;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__yuWdN {
    font-size: 30px;
    text-align: center;
  }
}
.button__gTEbM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 26px;
}
.svg___5W1Dz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fvWhy {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #ffffff;
}
.section1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 80px;
  align-self: flex-end;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    padding-top: 70px;
  }
}
.container {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    width: auto;
  }
}
.freeBox___2HneQ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___2HneQ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 105px);
  width: calc(100% + 105px);
}
.freeBox___2HneQ > :global(.__wab_flex-container) > *,
.freeBox___2HneQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2HneQ > :global(.__wab_flex-container) > picture > img,
.freeBox___2HneQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 105px;
}
.freeBox__tX8N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___1WGfE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 4px 8px 24px 0px #00000080;
  display: none !important;
}
.img___1WGfE > picture > img {
  object-fit: cover;
}
.img___1WGfE > .__wab_img-spacer > img {
  object-fit: cover;
}
.useTicket:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 49px;
  display: none;
}
.svg__ou7Y9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__gtf1R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img__vlxLa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vlxLa > picture > img {
  object-fit: cover;
}
.img__vlxLa > .__wab_img-spacer > img {
  object-fit: cover;
}
.flexBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.flexBox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.flexBox > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 16px) * 5 / 12);
}
.flexBox > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 16px) * 7 / 12);
}
.flexBox > :global(.__wab_flex-container) > *,
.flexBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.flexBox > :global(.__wab_flex-container) > picture > img,
.flexBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .flexBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .flexBox > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .flexBox > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
.column__zSnwr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.bannerImage {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  max-height: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bannerImage {
    align-self: center;
  }
}
.img__jTHz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 4px 8px 24px 0px #00000080;
  width: 1089px;
  flex-shrink: 0;
}
.img__jTHz > picture > img {
  object-fit: cover;
}
.img__jTHz > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__goHox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contentBlock {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px 8px;
}
.mainHeading {
  color: var(--token-4bTymgq3_C0Gm2);
  font-size: 40px;
  font-weight: 700;
  font-family: 'VT323';
  line-height: 1.2;
  letter-spacing: 0px;
  position: relative;
  height: auto;
  max-width: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainHeading {
    font-size: 46px;
  }
}
.peraBanner {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.text__zHzs3 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-4bTymgq3_C0Gm2);
  letter-spacing: 1px;
}
.freeBox__m7KWx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 20px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m7KWx {
    top: auto;
    left: auto;
    align-self: center;
  }
}
.button__c3Szb:global(.__wab_instance) {
  max-width: 100%;
}
.svg__awsZa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___1AX4 {
  height: auto;
}
.svg__jaqoE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px;
  border-bottom: 1px solid #d2d2d2;
}
.columns__zeU {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1300px;
  padding: 8px;
}
.columns__zeU > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 5 / 12);
}
.columns__zeU > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__zeU > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zeU {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zeU > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mOyZy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.footerLogo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.logo2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.logo2 > picture > img {
  object-fit: cover;
}
.logo2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__tHj6Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__rqKTm {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 0;
}
.footerLink {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.column__wJx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__vzEPx {
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 0;
}
.footerLink4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.footerLink5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4bTymgq3_C0Gm2);
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.freeBox__gJv9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.columns__zrHfd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zrHfd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__zrHfd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zrHfd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zrHfd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__du4E2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.copyRight {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4bTymgq3_C0Gm2);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  min-width: 0;
}
.column__uLdMd {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.socialIcons {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.socialIcons > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.socialIcons > :global(.__wab_flex-container) > *,
.socialIcons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.socialIcons > :global(.__wab_flex-container) > picture > img,
.socialIcons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.link__aVqko {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.twitter {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.twitter > picture > img {
  object-fit: cover;
}
.twitter > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__xRuYs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.facebook {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.facebook > picture > img {
  object-fit: cover;
}
.facebook > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__xYbmZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.youtube {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.youtube > picture > img {
  object-fit: cover;
}
.youtube > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__gHzky {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__im3Lu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.vimeo {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.vimeo > picture > img {
  object-fit: cover;
}
.vimeo > .__wab_img-spacer > img {
  object-fit: cover;
}
